@page "/"
@using PhasmaBuster.Data.Common
@using System.Globalization
@using PhasmaBuster.Data.Evidences

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <RadzenSidebarToggle Click="@(() => _sidebar1Expanded = !_sidebar1Expanded)" />
                <div class="top-row px-4">
                    <RadzenDropDown TValue="CultureInfo"
                                    Data="@CultureInfos"
                                    @bind-Value="@_culture"
                                    Change="@(async (args) => await ChangeCulture((CultureInfo)args))">
                        <Template Context="data">
                            @(_cultureDict[((CultureInfo)data).Name])
                        </Template>
                    </RadzenDropDown>
                </div>
        <RadzenLabel Text="" />
    </RadzenStack>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@_sidebar1Expanded">
    <RadzenPanelMenu>
        @foreach (var evidenceGroup in _model.Evidences
                .GroupBy(x => x.Category)
                .OrderBy(x => x.Key)
                .ToDictionary(x => x.Key, x => x.OrderBy(y => y.Category).ToList()))
        {
            <RadzenPanelMenuItem Text="@Localization[evidenceGroup.Key.GetCaption()]" Icon="home">
                    @foreach (var evidence in evidenceGroup.Value)
                    {
                        @if (evidence is StandardEvidence standartEvidence)
                        {
                            <RadzenPanelMenuItem Click="@(() => SelectEvidence(evidence))"
                                                 title="@evidence.Description?.Text"
                                                 Icon="@(standartEvidence.IconName)">
                                <Template>
                                    <div class="@(GetEvidenceCssClass(evidence))">
                                        @Localization[evidence.Name]
                                    </div>
                                </Template>
                            </RadzenPanelMenuItem>
                        }
                    }
            </RadzenPanelMenuItem>
        }
    </RadzenPanelMenu>
</RadzenSidebar>

<div class="row"
     style="    margin-left: 12rem;
                margin-top: 3rem;">
    <div class="col-8 d-flex flex-wrap justify-content-evenly">
        @foreach (var modelGhost in _model.Ghosts)
        {
            @if (!IsVisible(modelGhost))
            {
                continue;
            }
            <RadzenPanel Style="width: 30rem; height: 12rem" class="m-1">
                <div class="row">
                    <div class="col-6">
                        <RadzenStack Orientation="Orientation.Vertical"
                                     JustifyContent="JustifyContent.SpaceBetween">
                            <div class="my-auto w-100 text-center">
                                <RadzenText Text="@modelGhost.Name"
                                            TextStyle="TextStyle.H5"/>
                            </div>
                            <div class="my-auto w-100 d-flex justify-content-center">
                                @foreach (var evidence in modelGhost.Evidences[EvidenceType.Standart].Cast<StandardEvidence>())
                                {
                                    <RadzenIcon Icon="@(evidence.IconName)"
                                                class="mx-2"
                                                title="@Localization[evidence.Name]"/>
                                }
                            </div>
                            <RadzenPanel class="my-auto">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex" style="font-size: 0.9rem">
                                        <RadzenIcon Icon="psychology_alt"/>
                                        @modelGhost.SanityEvidence?.Value
                                        %
                                    </div>
                                    <div class="d-flex" style="font-size: 0.9rem">
                                        <RadzenIcon Icon="directions_run"/>
                                        @modelGhost.SpeedEvidence?.Values.FirstOrDefault()?.Value
                                        <RadzenIcon Icon="volume_up"/>
                                    </div>
                                </div>
                            </RadzenPanel>
                        </RadzenStack>
                    </div>
                    <div class="col-6">
                        <RadzenPanel>
                            <div style="height: 8rem; overflow-y: auto;">
                                @foreach (var evidenceGroup in modelGhost.Evidences
                                    .GroupBy(x => x.Key)
                                    .OrderBy(x => x.Key)
                                    .Where(x => x.Key != EvidenceType.Standart)
                                    .ToDictionary(x => x.Key, x => x.SelectMany(x => x.Value)))
                                {
                                    <div style="font-size: 1.0rem;">@Localization[evidenceGroup.Key.GetCaption()]</div>
                                    foreach (var hiddenEvidence in evidenceGroup.Value)
                                    {
                                        <div style="font-size: 0.9rem">
                                            - @hiddenEvidence.Description?.Text
                                            @if (!string.IsNullOrEmpty(hiddenEvidence.Description?.FilePath))
                                            {
                                                switch (hiddenEvidence.Description.EvidenceDescriptionType)
                                                {
                                                    case EvidenceDescriptionType.Video:
                                                        <RadzenIcon Icon="videocam"/>
                                                        break;
                                                    case EvidenceDescriptionType.Audio:
                                                        <audio id="sound" src="@($"/media/{hiddenEvidence.Description.FilePath}")"></audio>
                                                        <RadzenIcon Icon="volume_up"
                                                                    @onclick="@(async () => await Js.InvokeAsync<string>("PlayAudio", "sound"))"/>
                                                        break;
                                                    case EvidenceDescriptionType.Picture:
                                                        <RadzenIcon Icon="image"/>
                                                        break;
                                                }
                                            }
                                        </div>
                                        <br/>
                                    }
                                }
                            </div>
                        </RadzenPanel>
                    </div>
                </div>
            </RadzenPanel>
        }
    </div>
</div>