@page "/"
@using PhasmaBuster.Data.Common
@using System.Globalization

<RadzenDropDown TValue="CultureInfo"
                Data="@CultureInfos"
                @bind-Value="@_culture"
                Change="@(async (args) => await ChangeCulture((CultureInfo)args))">
    <Template Context="data">
        @(_cultureDict[((CultureInfo)data).Name])
    </Template>
</RadzenDropDown>

@foreach (var evidenceGroup in _model.Evidences
    .GroupBy(x => x.Category)
    .OrderBy(x => x.Key)
    .ToDictionary(x => x.Key, x => x.ToList()))
{
    <RadzenFieldset Text="@evidenceGroup.Key.GetCaption()">
        @foreach (var evidence in evidenceGroup.Value)
        {
            <div class="d-flex my-2">
                <RadzenCheckBox TValue="bool"
                                class="mx-2"/>
                <RadzenText Text="@Localization[evidence.Name]" title="@evidence.Description?.Text"/>
            </div>
        }
    </RadzenFieldset>
}